{% extends "000_base_template.html" %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block login %}
{% endblock %}

{% block logout %}
  {{ super() }}
{% endblock %}

{% block content %}
    <div class="jumbotron" style="margin-bottom: 0px;">
        <div class="container">
          <div style="width: 560px; margin-left: 10px; margin-right: auto;">
            <h1 class="display-4">
                Tablero: Administrador
            </h1>
            <hr class="my-4">
            <p class="lead" style="text-align: justify; font-size: 18px;">
                Plataforma para gestionar historiales clinicos, governanza de datos, configuracion de dispositivos IoMT y herramientas de IA. 
            </p>
            <p class="lead">
            </p>
          </div>
          <div>
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Personal</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Pacientes</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Dispositivos</button>
                  </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    Control de personal
                  </div>
                  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    Control de paciente 
                  </div>
                  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    Control de dispositivos 
                  </div>
                </div>
          </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}