psycopg2-binary
certifi        
charset-normalizer   
click
itsdangerous    
jinja2
flask 
flask-login
flask-sqlalchemy
idna
importlib-metadata
markupsafe
requests
setuptools
sqlalchemy 
sqlite
urllib3
werkzeug